
<div class="field">
  <label class="label">{{label}}</label>
  <div class="control">
    <input [ngClass]="showErrors() ?'is-danger':'is-success'" class="input" type="text"  [formControl]="control">

  </div>
</div>


<ng-container
*ngIf="control.dirty &&
control.touched &&
control.errors" >
<div class="help is-danger" *ngIf="control.errors['required']">
  *Zorunlu Alan
</div>
<div class="help is-danger" *ngIf="control.errors['minlength']">
  Min {{control.errors!['minlength']['requiredLength']}} Karakter
</div>

<div class="help is-danger" *ngIf="control.errors['maxlength']">
  Max {{control.errors!['maxlength']['requiredLength']}} Karakter
</div>
<div class="help is-danger" *ngIf="control.errors['pattern']">
  Tarih "yyyy/mm/dd" formatında olmalıdır.
</div>

</ng-container>
